/* orange- #CC041E */

/* Global CSS property */
*{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Header style */
header{
    margin-left: 10%;
    padding: 2rem 6rem;
    height: 90vh;
    position: relative;
}
.navbar--toggle{
    position: absolute;
    top:2rem;
    right: 2rem;
    display: none;
}

/* Navigation bar style */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}
.navbar__brand--text{
    color: #CC041E;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar--links{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1.5rem;

}


/* Heroarea */
.heroarea{
    display: flex;
    justify-content: space-around;
}
.heroarea__container{
    width: 60%;
    padding: 0 6rem;
    position: absolute;
    left: 0;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border: none;
}

.heroarea__image {
    position: absolute;
    flex: 2;
    flex-grow: 0;
    height: 80vh;
    width: 48%;
    right: 0;
    top: 0;
    z-index: -1;
}
.hero--title{
    font-size: 3.5rem;
    line-height: 4rem;
    overflow: hidden;
}
.hero--content{
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0;
}

/* Section area */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section img{
    height: 20vh;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.features{
    display: flex;
    margin: 2rem 0;
}
.features .features--description{
    text-align: right;
    flex:3;
}
.features .features--image{
    flex: 2;
}
.features--reverse{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.features--reverse .features--description {
    text-align: left;
    flex: 2;
    padding-left: 10%;
}

.features--reverse .features--image {
    flex: 3;
}