/* Colors
#FF4C29   darkbg #082032  lightbg #334756
*/

/* All elements */
*{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

/* Navigation Bar */
nav{
    padding: 1.5rem 6rem;
    display: flex;
    align-items: center;
    background-color: #334756 ;
    border-bottom: 3px solid #FF4C29;
}
span{
    padding: unset;
    color: #FF4C29;
    margin-right: 2px;
}
.navbar__logo{
    display: flex;
    flex: 2;
    color: #fff;
}
.navbar__links{
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
}
.navbar__links--name{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.navbar__links--name:hover{
    color: #FF4C29;
    font-weight: 500;
    
}

/* Wrapper Section */
.wrapper{
    padding: 1.5rem 6rem;
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
}
.wrapper h1{
    color: #fff;
    margin: 1rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 800;
}
.wrapper p{
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
}

/* Newsletter */
.newsletter{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    padding: 10px 20px;
    background-color: #334756;
    color: #fff;
}
.newsletter input{
    margin-left: 20px;
    padding: 5px 10px;
    border: none;
}
.newsletter button{
    background-color: #FF4C29;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
}

/* Features */
.features{
    padding: 1.5rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__section{
    padding: 0 0.5rem;
}

.features__section img{
    height: 100px;
    width: 100px;
}

/* Footer */
footer{
    padding: 10px 20px;
    background-color: #334756;
    color: #fff;
}

/* Media Screen for Ipads and tablets */
@media screen and (max-width: 820px){
    
    nav,.wrapper,.newsletter,.features,footer{
        padding: 1rem 3rem;
    }
    nav h2,span{
        font-size: 1rem;
    }
    .navbar__links--name{
        font-size: 12px;
    }
    .wrapper h1 {
        color: #fff;
        margin: 0.5rem 0 0.5rem;
        font-size: 2rem;
        font-weight: 800;
    }
    .wrapper p {
        color: #fff;
        font-size: 12px;
        line-height: 1rem;
    }
    .newsletter {
        height: 7vh;
    }
        .newsletter h3,
        footer h3,
        .features h3 {
            font-size: 14px;
        }
    
        button {
            font-size: 12px;
        }
    
        .features p {
            font-size: 14px;
        }
}

/* Media Screen for surface duo */
@media screen and (max-width: 650px) {
    .wrapper h1{
        font-weight: 800;
        font-size: 1.5rem;
    }
    .wrapper p{
        font-size: 10px;
        line-height: 12px;
    }
    .newsletter{
        height: 7vh;
    }
   
    .newsletter h3, footer h3, .features h3{
        font-size: 12px;
    }
    button{
        font-size: 10px;
    }
    .features p{
        font-size: 12px;
    }
}

/* Media Screen for Mobiles */
@media screen and (max-width: 420px) {
    nav,
    .wrapper,
    .newsletter,
    .features,
    footer {
        padding: 0.5rem 2rem;
    }
    nav{
        border-bottom: 1.5px solid #FF4C29;
    }

    nav h2,
    span {
        font-size: 10px;
    }

    .navbar__links--name {
        font-size: 10px;
    }

    .wrapper h1 {
        color: #fff;
        margin: auto;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 800;
        text-shadow: 2px 2px 8px #334756;
    }

    .wrapper p {
        display: none;
    }

    .newsletter {
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
    }
    .newsletter input,.newsletter button{
        border-radius: 2px;
        font-size: 10px;
        padding: 1px 4px;
        cursor: pointer;

    }
    .features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features__section{
        margin: 5px auto;
        padding: 10px 3rem;
    }
    footer{
        height: 10vh;
    }
    footer h3{
        margin-top: 3vh;
    }

}


